{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block body %}

<div class="container-fluid px-0">
<img src="static/img/conc1.jpg" alt="" width="1400" height="400">
</div>

<div class="container">
    <h1 class = "text-center">Contact Us</h1>
    <form>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name = "name" placeholder="Enter Your Name" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name = "email" aria-describedby="emailHelp" placeholder=" Enter Your Email Address" required>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="Number" class="form-control" id="phone" name = "phone" placeholder="Enter Your Phone Number" required>
    </div>
    <div class="mb-3 ">
        {% comment %} <input type="desc" class="form-check-input" id="desc"> {% endcomment %}
        <label for="desc" class="form-label">Tell us more about</label>
        <textarea class="form-control" for="desc"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock body %}